.bookshelfPic {
    transform: translateY(-25%);
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#libraryGrid {
    transform: translateY(-2.5%);
}


@media only screen and (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}