.postCard {
    display: flex;
    flex-direction: column;
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    margin: 20px;
    overflow: scroll;
    object-fit: contain;
    background-color: var(--blue-2);
    max-height: 55vh;
}

.postRow {
    display: flex;
    flex-direction: column;
}

.textRow {
    display: flex;
    flex-direction: row;
    border-radius: 8px;
    background-color: var(--grey);
    justify-content: left;
    align-content: center;
    transform: translateX(-10px);
    height: 5vh;
    margin-right: 6vw;
    margin-top: 10px;
    border: 1px solid black;
    box-shadow: 3px 5px 5px rgb(155, 155, 155);
    margin-bottom: 10px;
}

#imageDescBox{
    display: flex;
    flex-direction: row;
}

.description {
    display: flex;
    flex-direction: column;
}

.image {
    display: flex;
    flex-direction: column;
    max-width: 10vw;
    margin-left: 10px;

}

.text {
    display: flex;
    flex-direction: column;
    max-width: 50vw;
}

.commentContainer {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    margin-top:10px;
}

.postCardTwo {
    display: flex;
    flex-direction: column;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    margin: 20px;
    background-color: rgb(255, 255, 255);
    overflow: scroll;
    object-fit: contain;
    max-height: 35vh;
    padding: 10px;
    border-radius: 10px;
}

.commentForm {
    display: flex;
    flex-direction: row;
    border-radius: 8px;
    background-color: var(--grey);
    justify-content: left;
    align-content: center;
    transform: translateX(10px);
    height: 10vh;
    margin-left: 6vw;
    margin-top: 10px;
    border: 1px solid black;
    box-shadow: 10px 5px 5px rgb(155, 155, 155);
}

#commentButton {
    height: 100%;
    border-radius: 15%;
    color: var(--pink);
    background-color: var(--blue);
}

#commentInput {
   background: none;
   border: none !important;
   outline: none;
   padding: 5px;
}