nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    align-self: center;
    align-content: center;
    min-height: 7vh;
    height: 7vh;
    background-color: var(--blue);
    
}

nav > div:nth-child(3) {
    margin-right: 2vw;
}

.logo {
    float: left;
}