.card {
    display: flex;
    flex-direction: row;
    border-width: 3px;
    border-color: black;
    border-style: solid;
    margin: 20px;
    background-color: rgb(255, 255, 255);
}

.image {
    display: flex;
    flex-direction: column;
}

.text {
    display: flex;
    flex-direction: column;
    max-width: 50vw;
}