.container2 {
    display: flex;
}

.comment {
    background-color: var(--blue-2);
    display: flex;
    font-size: large;
    width: 75%;
    margin: 5px;
    border-radius: 5px;
    padding: 5px;
}

#personIconProfile {
    font-size: 4vh !important;
    height: 30px;
    color: grey;
    display: inline;
    vertical-align: middle;
}



.floatLeft {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 5px;
    margin-right: 2vw; 
}
