.comment {
    background-color: rgb(226, 226, 226);
    display: flex;
    font-size: x-large;
}

.commentContainer {
    display: flex;
    align-items: center;
}

#personIcon {
    font-size: 6vh !important;
    height: 30px;
    color: grey;
}

.floatLeft {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 5px;
    margin-right: 2vw; 
}
