.horizontal-Search {
    display: flex;
    background-color: var(--blue-1);
}

.verticalOne-Search {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 2vmin;
}

.verticalTwo-Search {
    display: flex;
    flex-direction: column;
}