.landingInfo {
    display: flex;
    justify-content: center;
}

#landingIcons1, #landingIcons2, #landingIcons3, #landingIcons4 {
    color: var(--pink);
    font-size: 75px;
    -webkit-text-stroke: 1px black;
}

.landingInfo > div {
    max-width: 17vw;
    margin-top: 2vh;
    margin-bottom: 0;
    margin-right: 2vw;
    margin-left: 2vw;
}

#landDiv {
     transform: translateY(-15%);
}
