.App {
  text-align: center;
  height: 100%;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.logo {
    max-width: 100px;
    float: left;
    padding-top: 10px;
    margin-left: 30px;
}

.horizontal {
    display: flex;
    height: 86vh;
}

.verticalOne {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 2vmin;
    max-width: 12vw;
    min-width: 12vw;
}

.verticalTwo {
    display: flex;
    flex-direction: column;
    align-content: center;
    height: 86vh;
    width: 100%;
    min-width: 76vw;
    overflow: scroll;
    background-color: var(--grey);
}

.verticalThree {
    display: flex;
    flex-direction: column;
    height: 86vh;
    max-width: 12vw;
    min-width: 12vw;
    background-color: rgba(0, 0, 0, 0.4);
    overflow: scroll;
}

.space {
    height: 100px;
    margin-top: 20px;
}

