*, *:before, *:after {
  box-sizing: border-box;
  font-family: 'Fredoka', sans-serif;
}

:root {
  --blue: #0083FF;
  --blue-2: #C7E6FF;
  --pink: #F100AD;
  --grey: #E2E2E2;
  --grey-2: #c9c9c9;
  --blue-3: #e2f2ff;
  --text-light: #968c84;
  --text-dark: #615954;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh !important;
  background-color: var(--blue-3);
}

footer {
  background-color: rgba(0,0,0,0.75);
  left: 0;
  right: 0;
  bottom: 0;
  height: 7vh;
  position: fixed;
}

#root {
  height: 100%;
}
