*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh !important;
}

footer {
  background-color: rgba(0,0,0,0.75);
  left: 0;
  right: 0;
  bottom: 0;
  height: 7vh;
  position: fixed;
}

#root {
  height: 100%;
}
