*, *:before, *:after {
  box-sizing: border-box;
}

:root {
  --blue: #FFFFFF;
  --blue-2: #FBF9F6;
  --tan-2: #E7E2DD;
  --tan-3: #E2D9D1;
  --tan-4: #D3C1AE;
  --orange: #F67F00;
  --text-light: #968c84;
  --text-dark: #615954;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh !important;
}

footer {
  background-color: rgba(0,0,0,0.75);
  left: 0;
  right: 0;
  bottom: 0;
  height: 7vh;
  position: fixed;
}

#root {
  height: 100%;
}
